    <link rel="stylesheet" href="css/mlz.css">
    <div class="img">
        <!-- 	<img class="banna" src="imgs/6.jpg"  title="BANNA" alt=""> -->
    </div>
		<!-- chan pin list kaishi -->
	<div class="gy-top">
		<div class="gy-top1">
			<p>分类列表</p>
			<a class="gy-top2">Category List</a>
			<a class="gy-top3" href=""></a>
		</div>
	</div>
	<div class="ppls-right">当前位置:
	<?php echo $breadnav; ?>
	</div>
	<div class="list">
		<ul>
            <?php
      for($i=0;$i<count($result);$i++){
 ?>


			<li>
				<a href="list.php?cid=<?php echo $result[$i]['cid']?>">
				<div class="img-box">
					 <img class="img-box1" src="<?php echo $result[$i]['cimage'];?>" alt="">
					  <div class="dw">
                          <?php echo $result[$i]['cdesc'];?>
					  </div>
				 </div>
				 <div class="title"><?php echo $result[$i]['cname'];?></div>
			 	</a>
		    </li>
		<?php }?>
		</ul>	
	</div>
