<!-- foot kaishi -->
<div class="foot">
    <div class="foot1">
        <p>地址：中国·山东省青岛市市南区银川西路20号205  电话：0532-81701789 手机：13791914513
            <br>
            版权所有：青岛巧克力庄
        </p>
        <p>热门业务：ceccotticollezioni意大利官网 | poliform意大利官网 | poliform意大利官网</p>
        <div class="zixun">
            <div>
                <a class="iconfont icon-qq" href=""></a>
                <span>在线咨询</span>
            </div>
            <div>
                <a class="iconfont icon-fenxiang" href=""></a>
                <span>分享网站</span>
            </div>
        </div>
    </div>
</div>
<!-- 固定定位开始 -->
<div class="gd">
    <a class="iconfont icon-dianhua gd1" href="../../../../../Users/lixing/Desktop/milan/dpdz.html">
        <div class="dh">13791914513</div>
    </a>
    <a class="iconfont icon-erweima gd1 gd2" href="">
        <div class="erweima">
            <img src="../../../../../Users/lixing/Desktop/milan/img/erweima.png" alt="">
        </div>
    </a>
    <a class="gd1 gd3" href="">︿<br><strong style="font-size:16px;">TOP</strong></a>

</div>
</body>
</html>