<script src="/milan/static/js/index.js"></script>
<script src="/milan/static/js/banner.js"></script>
	<!-- BANNA开始 -->
<?php
  $sql = "select * from article where posid=1";
  $banner = $mysql->query($sql)->fetch_all(MYSQLI_ASSOC);
?>

	<div class="img">
        <?php
 for($i=0;$i<count($banner);$i++){
?>
		<img class="banna active" src="<?php echo $banner[$i]['aimgs'];?>" alt="">
		<?php }?>
		<ul class="radio">
		<li></li>
		<li></li>
		<li></li>
	</ul>
	</div>
	<!-- banna结束 -->
	<!-- guan yu wo men kaishi-->
	<div class="guanyu">
		<div class="guanyu1">
			<div class="gy-top">
				<div class="gy-top1">
					<p>
						<?php echo $about['cname'];?>
					</p>
					<a class="gy-top2"><?php echo $about['engname'];?></a>
					<a class="gy-top3"></a>
				</div>
			</div>
			<h3 class="lishi">MiLan - Chocolate</h3>
			<p class="lishi1">
				<?php echo $about['cdesc'];?>
			</p>
		</div>
	</div>
	<!-- guan yu wo men jieshu -->
	<!-- chan pin list kaishi -->
	<div class="gy-top">
		<div class="gy-top1">
			<p>产品列表</p>
			<a class="gy-top2" href="">Products List</a>
			<a class="gy-top3" href=""></a>
		</div>
	</div>
	<div class="list">
		<ul>
         <?php
  for($i=0;$i<count($article);$i++){
?>
			<li>
				<a href="show.php?cid=<?php echo $article[$i]['cid']?>&aid=<?php echo $article[$i]['aid']?>">
				<div class="img-box">
					 <img class="img-box1" src="<?php echo $article[$i]['athumb'];?>" alt="">
					  <div class="dw">
					  	<img src="../../../../../Users/lixing/Desktop/milan/img/link.png" alt="">
					  	<span><?php echo $article[$i]['adesc'];?></span>
					  </div>
				 </div>
				 <div class="title"><?php echo $article[$i]['atitle'];?></div>
			 	</a>
		    </li>
<?php }?>
			
		</ul>	
	</div>
	<!-- 公司新闻开始 -->
	<div class="xinwen">
		<div class="xinwen1">
			<h2><?php echo $news['cname'];?> </h2>
			<span><?php echo $news['engname'];?></span>
		</div>
		<div class="new">
			<?php
            for($i=0;$i<count($newslist);$i++){
            if($i%2 == 0){
?>
			<a href="show_news.php?cid=55&nid=<?php echo $newslist[$i]['nid'];?>" >
				<p class="p1"><?php echo $newslist[$i]['ntitle'];?></p>
				<p class="p2">　<?php echo $newslist[$i]['ndesc'];?></p>
			</a>
			<?php }else{

?>
			<a href="show_news.php?cid=55&nid=<?php echo $newslist[$i]['nid'];?>" style="margin-top: 30px;">
				<p class="p1"><?php echo $newslist[$i]['ntitle'];?></p>
				<p class="p2">　<?php echo $newslist[$i]['ndesc'];?></p>
			</a>
			<?php
			}
			 }
?>
		</div>
	</div>
	<!-- 公司新闻结束 -->
	<!-- footer kaishi -->
	<div class="footer">
		<div class="gy-top gy-tops">
			<div class="gy-top1">
				<p style="background-color:#b02a28; color:#fff">联系我们</p>
				<a class="gy-top2" href="" style="background-color:#b02a28; color:#fff;border: 2px solid #B94341;">Contact us</a>
				<a class="gy-top3" href="" style="background-color:#b02a28; color:#fff"></a>
			</div>
		</div>
		<div class="lx">
			<a href="">
				<div><i class="iconfont icon-dianhua"></i></div>
				<span>电话 :<br>
				0532-8170-1789
				</span>
			</a>
			<a href="">
				<div><i class="iconfont icon-icon-copy"></i></div>
				<span>手机 :<br>
				13791914513
				</span>
			</a>
			<a href="">
				<div><i class="iconfont icon-youxiang"></i></div>
				<span>邮箱 :<br>
				info@homeconcept.cn
				</span>
			</a>
		</div>
	</div>

