<link rel="stylesheet" href="/milan/static/css/show.css">
	<!-- ppls kaishi -->
	<div class="ppls">
		<?php echo $data['atitle'];?>
		<div class="ppls-right">当前位置: 
			<a href="index.html"> 主页 </a>
			<span> &gt; </span>
			<a href="mlz.html"> Soho系列 </a>
			<span> &gt;</span>
			<a href="xingqing.html"> 产品详情 </a>
			<span style="color:#cd2223;"> &gt;</span>
		</div>
	</div>
	<!-- milan 客厅列表 -->
	<div class="ktxl">
		<div class="list">
			<img src="<?php echo $data['aimgs']?>" alt="">
			<p>
				<?php echo $data['atitle'];?>
			</p>
			<p>
				<?php echo $data['acontent'];?>
			</p>
		</div>
	</div>