<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/cateadd.js"></script>
    <title>Title</title>
</head>
<body>
<form action="cateadd.php" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1">父栏目</label>
        <select class="form-control" id="exampleInputEmail1" name="pid">
            <option value="0">一级栏目</option>

            <?php
            echo $str;
?>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">栏目名称</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="category name" name="cname">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">英文名称</label>
        <input type="text" class="form-control" id="exampleInputPassword2" placeholder="english name" name="ename">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">栏目图片</label>
        <input type="file" id="exampleInputFile" name="cimage">
    </div>

    <div class="form-group">
        <label for="exampleInputText">栏目描述</label>
        <textarea class="form-control" rows="3" id="exampleInputText" name="cdesc"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputTmp">栏目模板</label>
        <input type="file" id="exampleInputTmp">
    </div>
    <input type="hidden" name="ctemp" value="">
    <div class="form-group">
        <label for="exampleInputModel">栏目功能</label>
        <select name="cmodel" id="exampleInputModel">
            <option value="category">分类</option>
            <option value="list">列表</option>
            <option value="show">内容</option>
        </select>
    </div>
    <div class="form-group">
        <label>是否在导航显示</label>
        是<input type="radio" name="isshow" value="true">
        否<input type="radio" name="isshow" value="false">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>