<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<table class="table table-striped table-response">
    <thead>
    <tr>
        <th>
            栏目id
        </th>
        <th>
            栏目名称
        </th>
        <th>
            栏目英文名称
        </th>
        <th>
            栏目描述
        </th>
        <th>
            栏目图片
        </th>
        <th>
            父级栏目
        </th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
       <?php echo $table;?>
    </tbody>
</table>
</body>
</html>