<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<form action="cateadd.php" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1">父栏目</label>
        <select class="form-control" id="exampleInputEmail1" name="pid">
            <option value="0">一级栏目</option>

            <?php
            echo $str;
?>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">栏目名称</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="category name" name="cname">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">英文名称</label>
        <input type="text" class="form-control" id="exampleInputPassword2" placeholder="english name" name="ename">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile" name="cimage">
    </div>

    <div class="form-group">
        <label for="exampleInputText">栏目描述</label>
        <textarea class="form-control" rows="3" id="exampleInputText" name="cdesc"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>