<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/cateadd.js"></script>
    <title>Title</title>
</head>
<body>
<form action="posadd.php" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="exampleInputPassword1">推荐位名称</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="category name" name="pname">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>